project_id       = "YOUR_GCP_PROJECT_ID"
region           = "asia-southeast1"
vpc_id           = "projects/YOUR_GCP_PROJECT_ID/global/networks/prod-vpc"
db_subnet_id     = "projects/YOUR_GCP_PROJECT_ID/regions/asia-southeast1/subnetworks/prod-vpc-db-subnet"
db_instance_name = "prod-postgres"
db_password      = "YOUR_DB_PASSWORD"
db_user          = "postgres"
db_name          = "ai_email_manager"
